.page--venue .cols {
  display: inline-block;
  xxxborder: 1px solid red;
  height: 1400px;
  vertical-align: top;
}

.page--venue .col1 {
  width: 450px;
  padding: 20px;
  margin-right: 20px;
}

.page--venue .venue-name {
  font-size: 3.4rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.page--venue .venue-address {
  margin: 20px 0 10px 0;
}

.page--venue .event-dates {
  margin: 92px 0 30px 0;
  width: 420px;
}

.page--venue .clubcalendar {
  padding: 0px;
}

.page--venue .clubcalendar .date {
  font-size: 1.8rem;
  margin: 20px 0 0 0;
  font-weight: bold;
}

.page--venue .clubcalendar .club {
  font-size: 1.3rem;
  margin: 8px 0 6px 30px;
  font-weight: bold;
}

.page--venue .clubcalendar .club a {
  color: rgba(var(--text-color), 0.8);
}

.page--venue .clubcalendar .artist {
  font-size: 1.1rem;
  margin: 0 0 6px 30px;
}

.page--venue .clubcalendar .artist a {
  color: rgba(var(--text-color), 0.7);
}
